<h2
    class="col-span-full mb-16 bg-gradient-to-r from-primary to-secondary bg-clip-text text-center font-display text-4xl font-bold text-transparent"
>
    What can I do with QuikTriv?
</h2>
<div class="mx-auto grid grid-cols-2 grid-rows-2 gap-4 lg:w-3/4">
    <div class="overflow-hidden rounded-box border border-neutral shadow-xl">
        <div
            class="flex items-center justify-center gap-4 bg-secondary/10 px-8 py-4 font-display text-xl font-bold text-secondary"
        >
            <lucide-angular
                [img]="BadgePlus"
                class="size-8 stroke-secondary"
            ></lucide-angular>
            Create
        </div>
        <div class="px-8 py-4 text-center">
            Make your own trivia games and quizzes with ease! Write your own
            questions or import them from the
            <a
                href="https://opentdb.com/"
                target="_blank"
                class="link-secondary"
                >Open Trivia Database</a
            >.
        </div>
    </div>
    <div class="overflow-hidden rounded-box border border-neutral shadow-xl">
        <div
            class="flex items-center justify-center gap-4 bg-primary/10 px-8 py-4 font-display text-xl font-bold text-primary"
        >
            <lucide-angular
                [img]="MessageCircleQuestion"
                class="size-8 stroke-primary"
            ></lucide-angular>
            Play
        </div>
        <div class="px-8 py-4 text-center">
            Play any of the thousands of trivia games and quizzes created by our
            community! Search for quizzes to play right now or save them to your
            account to play later.
        </div>
    </div>
    <div class="overflow-hidden rounded-box border border-neutral shadow-xl">
        <div
            class="flex items-center justify-center gap-4 bg-accent/10 px-8 py-4 font-display text-xl font-bold text-accent"
        >
            <lucide-angular
                [img]="ChartNoAxesCombined"
                class="size-8 stroke-accent"
            ></lucide-angular>
            Track
        </div>
        <div class="px-8 py-4 text-center">
            Create an account to track your progress and see how you stack up
            against other players! Earn achievements and badges for completing
            quizzes.
        </div>
    </div>
    <div class="overflow-hidden rounded-box border border-neutral shadow-xl">
        <div
            class="flex items-center justify-center gap-4 bg-secondary/10 px-8 py-4 font-display text-xl font-bold text-secondary"
        >
            <lucide-angular
                [img]="Share"
                class="size-8 stroke-secondary"
            ></lucide-angular>
            Share
        </div>
        <div class="px-8 py-4 text-center">
            Send your quizzes to friends and family to see how they do! Generate
            a link to any quiz you make and share it for anyone to log in and
            play.
        </div>
    </div>
</div>
